body {
    background-color: rgb(85, 81, 81);
}

.navcontainer {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
}

.nav-link {
    font-size: 30px;
    font-weight: bold;
    color: white;
}
