html, body {
    background-color: rgb(245, 245, 245);
    color: black;
    font-family: "Quattrocento", helvetica, sans-serif;
} 

.navigation a{
    color: black;
    list-style: none;
    font-size: 25px;
}

.navigation a:hover {
    opacity: 0.5;
}

.taskstyle {
    border: none;
    color: black;
    background-color: rgb(245, 245, 245);
}

.taskstrong {
    font-weight: bold;
    font-size: 1.3em;
}
