html, body {
    background-color: rgb(245, 245, 245);
    color: black;
    font-family: "Quattrocento", helvetica, sans-serif;
    margin: 0;
    padding: 0;
} 

.navigation a {
    color: black;
    list-style: none;
    font-size: 25px;
}

.navigation a:hover {
    opacity: 0.5;
}

.taskstyle {
    color: black;
    background-color: rgb(245, 245, 245);
}

.taskstrong {
    font-weight: bold;
    font-size: 1.3em;
}

.task-finished {
    opacity: 0.4;
    text-decoration: line-through;
}

.inline {
    display: flex;
}

.footer {
    max-width: 430px;
}
 
#id_tasks {
    background-color: rgb(245, 245, 245);
}

.preserve {
    background-color: rgb(245, 245, 245);
    color: black;
    font-family: "Quattrocento", helvetica, sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
}